name: auto-fetch-runner

on:
  push:
    branches: [main]
  pull_request_target:
    branches: [main]
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual trigger for testing

jobs:
  auto-fetch-runner:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          persist-credentials: true

      - name: Run Fetch fetch-aws-cloudfront-ip.sh Script
        run: |
          # Verify script existence before chmod
          if [ -f "./fetch-aws-cloudfront-ip.sh" ]; then
            chmod +x fetch-aws-cloudfront-ip.sh
            ./fetch-aws-cloudfront-ip.sh
          else
            echo "Error: fetch-aws-cloudfront-ip.sh not found."
            ls -la
            exit 1
          fi

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[skip ci] - updated AWS Cloudfront IP"
          branch: ${{ github.event.pull_request.head.ref || github.ref_name }}
          # Ensures the push uses the PAT defined in the checkout
          push_options: '--force' 
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
